# runtime directories
.cache
.nitro
.nuxt
.output
dist
node_modules

# configurations
.eslintrc
.npmrc
.prettierrc

# specific extensions
*.md
*.json
*.yml
*.yaml

# files
/components/fragments/home/CallHealing119Button.vue